header {
  display: flex;
  justify-content: space-evenly;
  background-color: #24292E;
  color: #FFFFFF
  
  
}
h4
.headerInput {
  background: none;
  border: 0;
  box-shadow: none;
  color: inherit;
  font-size: inherit;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  line-height: 20px;
}

.gitImg {
  height: 48px;
  width: 48px;
  display: inline-block;
  vertical-align: middle!important;
}

.avatarImg {
  border-radius: 50%;
  border: 1px solid;
  margin: 1rem;
}

.login{
  color: #586069

}